<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Playgound
        </title>
    </head>
    <body>
        <h1 style="flex-direction: row; justify-content: center; justify-items: center; text-align: center;">
            ***Checkerboard***
        </h1>
        <main style="display: flex; border: 3px solid red;">
            <div style="display:flex; flex-direction: row; flex: 1; border: 3px solid blue;">
            {% for i in range (0, numbers, 1): %}

                <div style="background-color: red; border: 3px solid black; height: 120px; width: 120px; display: inline-block;"></div>
                <div style="background-color: black; border: 3px solid black; height: 120px; width: 120px; display: inline-block;"></div>

            {% endfor %}
            </div>
        </main>
    </body>
</html>