<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Checkerboard
        </title>
    </head>
    <body>
        <h1 style="flex-direction: row; justify-content: center; justify-items: center; text-align: center;">
            ***Checkerboard***
        </h1>
        <main style="display: flex;">
            <table style="display:flex; flex-direction: column; flex: 1;">
            {% for n in range (0, rwo, 1): %}
                <tr>
                    {% for i in range (0, column, 1): %}
                        {% if (n+i) % 2 == 0 %}
                        <td style="background-color: {{rowColor}}; border: 3px solid black; height: 60px; width: 60px;"></td>
                        {% else %}
                        <td style="background-color: {{columnColor}}; border: 3px solid black; height: 60px; width: 60px;"></td>
                        {%  endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </main>
    </body>
</html>

